[Desktop Entry]
Name=Messages
Comment=Messages (web app)
Exec=brave --profile-directory="Default" --app=https://messages.google.com/web
Terminal=false
Type=Application
Icon=/home/michael/.local/share/applications/icons/Messages.png
StartupNotify=true
Categories=Network;WebBrowser;
